* {
  padding: 0;
  border: 0;
  margin: 0;

  border: 1px solid red;

}

:root {
  --primary-color: #eea1e3;
  --primary-color1: #f4b5eb;
  --secondary-color: #565656;
  --secondary-color1: #363232;
}

body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  height: 200vh;
  overflow: scroll;

  background-color: var(--secondary-color1);
  color: var(--primary-color1);
}

.main {
  height: 70%;
  width: 80vw;
  display: grid;
  justify-items: center;
  grid-template-areas:
  "header header header header header"
  "profile profile letter letter letter"
  "profile profile letter letter letter"
  "profile profile letter letter letter"
  ". . . . spotify";
  /* border: 5px solid white; */
}

.main > * {
  border: 1px solid blue;
}

nav {
  height: 1px;
  width: 1px;
}

.content-title {
  grid-area: header;
}

.profile {
  grid-area: profile;
}

.letter {
  grid-area: letter;
}



