@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Source+Code+Pro&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  border: 0;
  margin: 0;

  /* border: 1px solid red; */
}

:root {
  font-size: 16px;
  --primary-font: 'Source Code Pro', monospace;
  --secondary-font: 'Poppins', sans-serif;
  --primary-color: #eea1e3;
  --primary-color1: #ff23de;
  --secondary-color: #565656;
  --secondary-color1: #363232;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--primary-font);
  font-size: clamp(20px, 2vw, 50px);
  margin: 2rem;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  min-width: 500px;
  max-width: 70%;
}

figcaption {
  font-family: var(--secondary-font);
  font-style: italic;
  font-size: 1rem;
}

